@import url("./var.css");
@import url("./circle.css");
.content {
  margin-left: 58px;
  display: flex;
  flex-direction: column;
}

.main .circle-one {
  top: -80px;
  left: -115px;
}

.page .title::after {
  content: "Machen Sie sich bereit";
}
.content-head {
  margin-bottom: 8px;
}
.content-body {
  margin-right: 52px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}
.content-body-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 60px;
}
.content-body-left .bottle {
  margin-left: 10px;
  width: 434px;
  height: 434px;
}
.content-body-left .btn {
  margin-left: 2px;
  width: 450px;
  height: 72px;
  border-radius: 100px;
  border: 3px solid var(--back-btn-border-color);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  font-family: Red Hat Display-medium;
  color: var(--back-btn-border-color);
  font-weight: 900;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content-body-left > .btn img {
  margin-right: 8px;
}
.arror {
  width: 24px;
  height: 24px;
}
.content-body-right-table {
  width: 464px;
  height: 434px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.content-body-btn {
  width: 450px;
  height: 72px;
  border-radius: 100px;
  box-shadow: 0px 4px 16px 0px var(--pfanda-dark-blue);
  background: var(--pfanda-light);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  box-sizing: border-box;
  font-family: "Red Hat Display";
  letter-spacing: 0.1px;
  font-weight: 800;
  color: var(--pfanda-dark-blue);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content-body-right-btn img {
  margin-left: 8px;
}
.tableRow {
  width: 308px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tableRow p {
  font-family: "Red Hat Display";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: var(--pfanda-light);
}
.tableRow span {
  font-family: Red Hat Display;
  font-weight: 700;
  font-size: 36px;
  line-height: 64px;
  color: var(--table-content-color);
  letter-spacing: -0.25px;
}
